@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{

    .gradient{
        @apply bg-gradient-to-br from-blue-600 to-purple-600;

    }
    .gradient-title{
        @apply gradient font-extrabold tracking-tighter pr-2 pb-2 text-transparent bg-clip-text

    }
    .hero-image-wrapper{
        perspective: 1000px;
    }
    .hero-image {
        transform: rotateX(15deg) scale(1);
        transition: transform 0.5s ease-out;
        will-change: transform;
      }
      
      .hero-image.scrolled {
        transform: rotateX(0deg) scale(1) translateY(40px);
      }
}